<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkonworks.df.busi.dao.DoctoradviceDao">
		<select id="getDoctoradviceList" resultType="com.linkonworks.df.vo.DoctorAdvice"   parameterType="page">
			select 
				td.pati_serial "patiSerial",
				td.inpati_serial_number "inpatiSerialNumber",
				td.order_Class_Name "orderClassName",
				td.start_Date_Time "startDateTime",
				td.order_Text "orderText",
				td.dosage "dosage",
				td.dosage_Units "dosageUnits",
				td.frequency "frequency",
				td.administration "administration",
				td.perform_Schedule "performSchedule",
				td.eat_Time "eatTime",
				td.stop_Date_Time "stopDateTime",
				td.stop_Doctor "stopDoctor",
				td.doctor "doctor",
				td.freq_Detail "freqDetail",
				td.drug_Billing_Attr "drugBillingAttr",
				td.perform_Result "performResult",
				td.freq_Counter "freqCounter",
				td.stop_Nurse "stopNurse",
				td.baoxiao "baoxiao",
				td.back_Flag "backFlag",
				td.insurance_No "insuranceNo",
				td.repeat_Indicator "repeatIndicator"
				from  tb_orders td 
				where 
				td.pati_serial = #{params.patiSerial} 
				and td.inpati_serial_number = #{params.inpatiSerialNumber}
				<if test="params.repeatIndicator!=null and params.repeatIndicator!=''">
					and td.repeat_Indicator=#{params.repeatIndicator}
				</if>
				<if test="params.startDateTime!=null and params.startDateTime!=''">
					 and td.start_Date_Time between to_date(#{params.startDateTime},'yyyy-mm-dd hh24:mi:ss') and sysdate
				</if>
				<if test="params.stopDateTime!=null and params.stopDateTime!=''">
					and td.stop_date_time between to_date('1990/1/1 7:57:30','yyyy-mm-dd hh24:mi:ss') and to_date(#{params.stopDateTime}||'23:59:59','yyyy-mm-dd hh24:mi:ss')				
				</if>
					order by td.start_Date_Time desc
		</select>
		
		
		
</mapper>