<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkonworks.df.busi.dao.NationDictDao">


	<select id="getAll" resultType="nationdict">
		select
		nation_code "nationCode",
		nation_name "nationName",
		input_code "inputCode"
		from tb_nation_dict
	</select>
</mapper>
